.row
  .large-3.columns
    = simple_form_for cart.cart_items.new do |f|
      = f.hidden_field :cart_id, value: cart.id
      = f.hidden_field :item_id, value: item.id
      = f.input :quantity
      = f.button :submit, 'Add', class: 'tiny radius button'
